<html>
<head>
<meta charset="UTF-8" />
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="container-fluid bg-dark text-light p-5 mb-0">
			<h1 class="display-4">Novo Pedido</h1>
		</div>

		<form action="/pedido/novo" method="POST">
			<div>
				<label form="nomeProduto">Produto</label> 
				<input name="nomeProduto" placeholder="nome do produto" /> 
				<small>Informa qual o nome do produto.</small>
			</div>
			<div>
				<label form="urlProduto">Url</label> 
				<input name="urlProduto" placeholder="url do produto" /> 
				<small>Procure em um site o	produto que você deseja e cole a url da página aqui.</small>
			</div>
			<div>
				<label form="urlImagem">Imagem</label> 
				<input name="urlImagem" placeholder="url da imagem" /> 
				<small>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores. </small>
			</div>
			<div>
				<label form="descricao">Descrição</label> 
				<input name="descricao" placeholder="Adicione detalhes importantes para ajudar o comprador." />
				<textarea>Copie a url de uma boa imagem do produto e cole aqui para ajudar a conseguir compradores.</textarea>
			</div>
			<button type="submit">Cadastrar</button>
		</form>

	</div>
</body>
</html>

